/* ------------------------------------------------------------------------ */
/* BUTTONS ---------------------------------------------------------------- */
/* ------------------------------------------------------------------------ */
/* QPushButton ------------------------------------------------------------

--------------------------------------------------------------------------- */
QPushButton#pushButton_Cutter:enabled {
    color: red
}

QPushButton#pushButton_Cutter:!enabled {
    color: green
}
